/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family:'ELD ';
}
header, section {
    padding: 20px;
    text-align: center;
    
}
header {
    background-color: #dd1919;
    text-align: center;
    font-family: cursive;

}
p, li {
    line-height: 1.5em;
}




